@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  @apply p-0 m-0 break-all;
}
div.error {
  @apply text-xs text-red-500;
}
input {
  @apply dark:bg-gray-800 dark:text-white border-2 w-full h-10 p-2 rounded-lg;
}
input:focus {
  @apply outline-none border-blue-400;
}
input:invalid {
  @apply bg-red-100 border-red-400;
}
input:disabled {
  @apply bg-gray-200 cursor-not-allowed;
}

.education-rounder {
  @apply w-[13px] h-[13px] rounded-full;
}

::-webkit-scrollbar {
  @apply w-1 h-1;
}
::-webkit-scrollbar-track {
  @apply bg-gray-200;
}
/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-400;
}
